/*

::  1.0 General Reset & Setup
-------------------------------------------
    1.0 Reset and overrides

::  2.0 Predefined CSS Setting
-------------------------------------------
    2.0 Predefined Classes

::  3.0 Page Structure Settings
-------------------------------------------
    3.0 Page Options
    3.1 Header & header elements
    3.2 Sidebar & sidebar elements
        3.2.1 Sidebar Plugins - Slimscrollbar
    3.3 Content & content elements


/* -------------------------------
   1.0 General reset & setup
------------------------------- */

/* 1.0 Reset and overrides */

body,
html {
    height: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    background: #fff;
    color: #707478;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin: 12px 0;
    color: inherit;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
hr {
    border-top: 1px solid #dfdfdf;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 1px;
    margin: 14px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 14px 0;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-rendering: optimizelegibility;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: inherit;
}
input,
button,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: inherit;
    line-height: inherit;
}
textarea {
    height: auto;
    resize: none;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}


/* -------------------------------
   2.0 Predefined CSS Setting
------------------------------- */

/* 2.0 Predefined Classes */

.m-auto { margin: 0 auto !important; }
.m-0 { margin: 0px !important; }
.m-1 { margin: 1px !important; }
.m-2 { margin: 2px !important; }
.m-3 { margin: 3px !important; }
.m-4 { margin: 4px !important; }
.m-5 { margin: 5px !important; }
.m-10 { margin: 10px !important; }
.m-15 { margin: 15px !important; }
.m-20 { margin: 20px !important; }
.m-25 { margin: 25px !important; }
.m-30 { margin: 30px !important; }
.m-35 { margin: 35px !important; }
.m-40 { margin: 40px !important; }

.m-t-0 { margin-top: 0px !important; }
.m-t-1 { margin-top: 1px !important; }
.m-t-2 { margin-top: 2px !important; }
.m-t-3 { margin-top: 3px !important; }
.m-t-4 { margin-top: 4px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-8 { margin-top: 8px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-25 { margin-top: 25px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-35 { margin-top: 35px !important; }
.m-t-40 { margin-top: 40px !important; }

.m-r-0 { margin-right: 0px !important; }
.m-r-1 { margin-right: 1px !important; }
.m-r-2 { margin-right: 2px !important; }
.m-r-3 { margin-right: 3px !important; }
.m-r-4 { margin-right: 4px !important; }
.m-r-5 { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-r-25 { margin-right: 25px !important; }
.m-r-30 { margin-right: 30px !important; }
.m-r-35 { margin-right: 35px !important; }
.m-r-40 { margin-right: 40px !important; }

.m-b-0 { margin-bottom: 0px !important; }
.m-b-1 { margin-bottom: 1px !important; }
.m-b-2 { margin-bottom: 2px !important; }
.m-b-3 { margin-bottom: 3px !important; }
.m-b-4 { margin-bottom: 4px !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-25 { margin-bottom: 25px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-b-35 { margin-bottom: 35px !important; }
.m-b-40 { margin-bottom: 40px !important; }

.m-l-0 { margin-left: 0px !important; }
.m-l-1 { margin-left: 1px !important; }
.m-l-2 { margin-left: 2px !important; }
.m-l-3 { margin-left: 3px !important; }
.m-l-4 { margin-left: 4px !important; }
.m-l-5 { margin-left: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-15 { margin-left: 15px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-l-25 { margin-left: 25px !important; }
.m-l-30 { margin-left: 30px !important; }
.m-l-35 { margin-left: 35px !important; }
.m-l-40 { margin-left: 40px !important; }

.p-0 { padding: 0px !important; }
.p-1 { padding: 1px !important; }
.p-2 { padding: 2px !important; }
.p-3 { padding: 3px !important; }
.p-4 { padding: 4px !important; }
.p-5 { padding: 5px !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-20 { padding: 20px !important; }
.p-25 { padding: 25px !important; }
.p-30 { padding: 30px !important; }
.p-35 { padding: 35px !important; }
.p-40 { padding: 40px !important; }

.p-t-0 { padding-top: 0px !important; }
.p-t-1 { padding-top: 1px !important; }
.p-t-2 { padding-top: 2px !important; }
.p-t-3 { padding-top: 3px !important; }
.p-t-4 { padding-top: 4px !important; }
.p-t-5 { padding-top: 5px !important; }
.p-t-10 { padding-top: 10px !important; }
.p-t-15 { padding-top: 15px !important; }
.p-t-20 { padding-top: 20px !important; }
.p-t-25 { padding-top: 25px !important; }
.p-t-30 { padding-top: 30px !important; }
.p-t-35 { padding-top: 35px !important; }
.p-t-40 { padding-top: 40px !important; }

.p-r-0 { padding-right: 0px !important; }
.p-r-1 { padding-right: 1px !important; }
.p-r-2 { padding-right: 2px !important; }
.p-r-3 { padding-right: 3px !important; }
.p-r-4 { padding-right: 4px !important; }
.p-r-5 { padding-right: 5px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-r-15 { padding-right: 15px !important; }
.p-r-20 { padding-right: 20px !important; }
.p-r-25 { padding-right: 25px !important; }
.p-r-30 { padding-right: 30px !important; }
.p-r-35 { padding-right: 35px !important; }
.p-r-40 { padding-right: 40px !important; }

.p-b-0 { padding-bottom: 0px !important; }
.p-b-1 { padding-bottom: 1px !important; }
.p-b-2 { padding-bottom: 2px !important; }
.p-b-3 { padding-bottom: 3px !important; }
.p-b-4 { padding-bottom: 4px !important; }
.p-b-5 { padding-bottom: 5px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-b-15 { padding-bottom: 15px !important; }
.p-b-20 { padding-bottom: 20px !important; }
.p-b-25 { padding-bottom: 25px !important; }
.p-b-30 { padding-bottom: 30px !important; }
.p-b-35 { padding-bottom: 35px !important; }
.p-b-40 { padding-bottom: 40px !important; }

.p-l-0 { padding-left: 0px !important; }
.p-l-1 { padding-left: 1px !important; }
.p-l-2 { padding-left: 2px !important; }
.p-l-3 { padding-left: 3px !important; }
.p-l-4 { padding-left: 4px !important; }
.p-l-5 { padding-left: 5px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-l-15 { padding-left: 15px !important; }
.p-l-20 { padding-left: 20px !important; }
.p-l-25 { padding-left: 25px !important; }
.p-l-30 { padding-left: 30px !important; }
.p-l-35 { padding-left: 35px !important; }
.p-l-40 { padding-left: 40px !important; }

.f-s-8 { font-size: 8px !important; }
.f-s-9 { font-size: 9px !important; }
.f-s-10 { font-size: 10px !important; }
.f-s-11 { font-size: 11px !important; }
.f-s-12 { font-size: 12px !important; }
.f-s-13 { font-size: 13px !important; }
.f-s-14 { font-size: 14px !important; }
.f-s-15 { font-size: 15px !important; }
.f-s-16 { font-size: 16px !important; }
.f-s-17 { font-size: 17px !important; }
.f-s-18 { font-size: 18px !important; }
.f-s-19 { font-size: 19px !important; }
.f-s-20 { font-size: 20px !important; }
.f-s-22 { font-size: 22px !important; }
.f-s-24 { font-size: 24px !important; }

.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.pull-none { float: none !important; }

.f-w-100 { font-weight: 100 !important; }
.f-w-200 { font-weight: 200 !important; }
.f-w-300 { font-weight: 300 !important; }
.f-w-400 { font-weight: 400 !important; }
.f-w-500 { font-weight: 500 !important; }
.f-w-600 { font-weight: 600 !important; }
.f-w-700 { font-weight: 700 !important; }

.height-full { height: 100% !important; }
.height-10 { height: 10px !important; }
.height-50 { height: 50px !important; }
.height-100 { height: 100px !important; }
.height-150 { height: 150px !important; }
.height-200 { height: 200px !important; }
.height-250 { height: 250px !important; }
.height-300 { height: 300px !important; }
.height-350 { height: 350px !important; }
.height-400 { height: 400px !important; }
.height-450 { height: 450px !important; }
.height-500 { height: 500px !important; }
.height-550 { height: 550px !important; }
.height-600 { height: 600px !important; }

.width-full { width: 100% !important; }
.width-50 { width: 50px !important; }
.width-100 { width: 100px !important; }
.width-150 { width: 150px !important; }
.width-200 { width: 200px !important; }
.width-250 { width: 250px !important; }
.width-300 { width: 300px !important; }
.width-350 { width: 350px !important; }
.width-400 { width: 400px !important; }
.width-450 { width: 450px !important; }
.width-500 { width: 500px !important; }
.width-550 { width: 550px !important; }
.width-600 { width: 600px !important; }

.bg-white { background: #ffffff !important; }

.bg-silver-lighter { background: #f4f6f7 !important; }
.bg-silver { background: #f0f3f4 !important; }
.bg-silver-darker { background: #b4b6b7 !important; }

.bg-black { background: #2d353c !important; }
.bg-black-darker { background: #242a30 !important; }
.bg-black-lighter { background: #575d63 !important; }

.bg-grey { background: #b6c2c9 !important; }
.bg-grey-darker { background: #929ba1 !important; }
.bg-grey-lighter { background: #c5ced4 !important; }

.bg-red { background: #ff5b57 !important; }
.bg-red-darker { background: #cc4946 !important; }
.bg-red-lighter { background: #ff7c79 !important; }

.bg-orange { background: #f59c1a !important; }
.bg-orange-darker { background: #c47d15 !important; }
.bg-orange-lighter { background: #f7b048 !important; }

.bg-yellow { background: #e3fa3e !important; }
.bg-yellow-darker { background: #b6c832 !important; }
.bg-yellow-lighter { background: #e9fb65 !important; }

.bg-green { background: #00acac !important; }
.bg-green-darker { background: #008a8a !important; }
.bg-green-lighter { background: #33bdbd !important; }

.bg-blue { background: #348fe2 !important; }
.bg-blue-darker { background: #2a72b5 !important; }
.bg-blue-lighter { background: #5da5e8 !important; }

.bg-aqua { background: #49b6d6 !important; }
.bg-aqua-darker { background: #3a92ab !important; }
.bg-aqua-lighter { background: #6dc5de !important; }

.bg-purple { background: #727cb6 !important; }
.bg-purple-darker { background: #5b6392 !important; }
.bg-purple-lighter { background: #8e96c5 !important; }

.bg-img-none { background-image: none !important; }

/* iconfont */
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

/* -------------------------------
   3.0 Page Structure Settings
------------------------------- */

/* 3.0 Page Options */

.page-header-fixed {
    padding-top: 40px;
}

/* 3.1 Header & header elements */

.header {
    z-index: 1020;
    margin-bottom: 0;
}
.navbar {
    min-height: 40px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    background: #314060;
}
.navbar-header > a:hover,
.navbar-header > a:focus {
    color: #fff;
}
.navbar-brand {
    padding: 0;
    margin: 10px 20px 0 26px !important;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.navbar-nav > li > a {
    line-height: 20px;
    padding: 7px 15px 0;
    color: #fff;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background: #314060;
}
.navbar-nav > .open > a, 
.navbar-nav > .open > a:hover, 
.navbar-nav > .open > a:focus {
    background: none !important;
    color: #fff;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.navbar-nav > li > .dropdown-menu {
    border-top: 1px solid #eee;
}
.navbar-nav > li.divider {
    height: 34px;
    margin-top: 10px;
    background: #e2e7eb;
    width: 1px;
}
.navbar-nav .open .dropdown-menu {
    min-width: 100%;
}
.navbar-nav .navbar-user {
    height: 40px;
}
.navbar-nav .navbar-user > a {
    height: 40px;
}
.navbar-nav .navbar-user > a > svg {
    float: left;
    font-size: 26px;
    margin-right: 5px;
}
.navbar-nav .navbar-user > a > span {
    float: left;
    font-size: 14px;
    line-height: 25px;
    margin-right: 14px;
}
.navbar-nav .navbar-user > a > i.fa-angle-down {
    float: left;
    margin-top: 2px;
    font-size: 20px;
}


/* 3.2 Sidebar & sidebar elements */

.sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 80px;
    background: #2C354B;;
    z-index: 1010;
    -webkit-transform: translateZ(0);
}
.sidebar-bg {
    background: #2d353c;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    z-index: 1000;
}
.sidebar .nav > li:before,
.sidebar .nav > li:after,
.sidebar .nav > li > a:before,
.sidebar .nav > li > a:after {
    content: '';
    clear: both;
    display: table;
}
.sidebar .nav > li > a {
    padding: 8px 20px;
    line-height: 20px;
    color: #9FA5B3;
}
.sidebar .nav > li.expand > a,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    background: #17263C;
    color: #fff;
}
.sidebar .nav > li.active > a, 
.sidebar .nav > li.active > a:hover, 
.sidebar .nav > li.active > a:focus {
    color: #fff;
    background: #17263C;;
}
.sidebar .nav > li > a i {
    float: left;
    margin-right: 10px;
    width: 14px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #E7EAEE;
}
.sidebar .nav > li > a i[class*="ion-"] {
    margin-right: 11px;
    width: 18px;
    font-size: 18px;
}
.sidebar .nav > li > a .caret {
    float: right;
    margin-top: 9px;
}
/* sidebar-minify-btn */
.sidebar .nav > li .sidebar-minify-btn {
    position: fixed;
    top: 40px;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 5px 15px 5px 15px !important;
    text-align: center;
    background: rgba(43,50,69,.2);
    color: #fff;
    border-bottom: 1px solid #17263C;
}
.sidebar .nav > li .sidebar-minify-btn i {
    margin: 0 !important;
    float: none !important;
    color: #fff;
    padding-top: 5px;
}
/* sub-menu */
.sidebar .has-sub.active > .sub-menu {
    display: block;
}
.sidebar .sub-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #2C354B;
    position: relative;
    display: none;
}
.sidebar .sub-menu .sub-menu {
    padding: 0 0 0 30px;
    background: none;
}
.sidebar .sub-menu > li > a {
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 45px;
    display:block;
    font-weight: 300;
    color: #9FA5B3;
    text-decoration: none;
    position: relative;
}
.sidebar .sub-menu > li > a:before {
    content:'';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #536690;
    display: inline-block;
    margin-right: 10px;
}
.sidebar .sub-menu > li:hover > a:before {
    content:'';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4A95FB;
    border: 1px solid #4A95FB;
    display: inline-block;
}
.sidebar .sub-menu > li:hover > a {
    background: #17263C;
}

.sidebar .sub-menu > li > a:hover,
.sidebar .sub-menu > li > a:focus,
.sidebar .sub-menu > li.active > a,
.sidebar .sub-menu > li.active > a:hover,
.sidebar .sub-menu > li.active > a:focus {
    color: #fff;
}
.sidebar .nav > li li.has-sub.active > a {
    color: #889097;
}
.sidebar .sub-menu > li.active > a:before {
    color: #00acac;
}
.sidebar .nav .sub-menu > li > a .caret {
    float: right; 
    margin-top: 7px;
}

/* page-sidebar-minified */
.page-sidebar-minified .sidebar {
    width: 60px;
    position: absolute;
}
.page-sidebar-minified .sidebar-bg {
    width: 60px;
}
.page-sidebar-minified .content {
    margin-left: 60px;
}
.page-sidebar-minified .sidebar .slimScrollDiv,
.page-sidebar-minified .sidebar .slimScrollDiv > div {
    overflow: visible !important;
}
.page-sidebar-minified .sidebar .nav > li > a {
    padding: 12px 20px;
}
.page-sidebar-minified .sidebar .sub-menu > li > a {
    padding: 0 15px;
}
.page-sidebar-minified .sidebar .nav-header,
.page-sidebar-minified .sidebar .nav > li > a > span {
    display: none;
}
.page-sidebar-minified .sidebar .caret {
    position: absolute;
    top: 9px;
    right: 9px;
    border: 4px solid transparent;
    border-left: 4px solid;
}
.page-sidebar-minified .sidebar .sub-menu .caret {
    top: 10px;
    margin-top: 0 !important;
}
.page-sidebar-minified .sidebar .nav > li > a > i {
    margin: 0;
}
.page-sidebar-minified .sidebar .nav li.has-sub {
    position: relative;
}
.page-sidebar-minified .sidebar .nav li.has-sub > .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100px;
    display: none;
    padding: 0;
    margin: 0;
    background: #1a2229;
}
.page-sidebar-minified .sidebar .nav > li.has-sub:hover > a,
.page-sidebar-minified .sidebar .nav > li.has-sub:focus > a {
    background: #17263C;
}
.page-sidebar-minified .sidebar li.has-sub > .sub-menu {
    display: none !important;
}
.page-sidebar-minified .sidebar li.has-sub:hover > .sub-menu,
.page-sidebar-minified .sidebar li.has-sub:focus > .sub-menu {
    display: block !important;
    overflow: visible !important;
}
.page-sidebar-minified .sidebar .nav > li.has-sub li.has-sub .sub-menu {
    margin-top: -10px;
}
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a {
    background: #00acac;
}

/* sidebar-minify-btn */
.page-sidebar-minified .sidebar .nav > li .sidebar-minify-btn {
    width: 60px;
}
.page-sidebar-minified .sidebar .nav > li .sidebar-minify-btn i.fa-bars {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* 3.2.1 Sidebar Plugins - Slimscrollbar */
.slimScrollBar {
    width: 5px !important;
    right: 0 !important;
}
.slimScrollRail {
    width: 5px !important;
    right: 0 !important;
}
.page-sidebar-minified .sidebar .slimScrollBar,
.page-sidebar-minified .sidebar .slimScrollRail {
    display: none !important;
}

/* 3.3 Content & content elements */

.content {
    margin-left: 200px;
    padding: 20px 25px;
}


